/* Style dasar */
body {
    font-family: Arial, sans-serif;
    color: #2c3e50;
    background: #ecf0f1;
    margin: 25px;
    padding: 20px;
}
/* Grid Container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
}

/* section umum */
section {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 8px rgba(0,0,0,1);
}

/* portofolio */
.portofolio {
    grid-column: 1 / 4;
    display: flex;
    border-top: 5px solid #04246f;
}
/* biodata full width */
.biodata{
    display: grid;
    grid-template-rows: auto auto; 
    justify-items: center;    
    border-left: 5px solid #fff202;
}

/* Foto Profil */
#Foto_Profil {
    border-radius: 15%;
    border: 3px solid rgb(104, 97, 97);
    width: 120px;
    height: auto;
}

.desc {
    border-top: 5px solid #1255f1;
    display: grid;
    grid-template-rows: auto auto; 
    grid-column: 2 / 4;
}

/* Self reflection full width */
.awards {
    background: #f9f9f9;
    border-left: 5px solid #27ae60;
}

/* education */
.education {
    background: #f9f9f9;
    border-left: 5px solid #e67e22
}

/* career goals */
.career {
    background: #f9f9f9; 
    border-left: 5px solid #6609f1
}

/* reflection */
.reflection {
    grid-column: 1 / 4;
    background: #f9f9f9;
    border-left: 5px solid #ff03b7;
}

/* Judul */
h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}